body{
    background-color: bisque;
}
#main_name{
    text-align: center ;
}
#ww{
   
 background-color: #fcb866;
 padding: 10px;
 border-radius: 20px;
 border: solid ;
 box-shadow: 4px 4px;
}
#why{
   text-align: center;
}
#courses{
    padding: 20px;
    border: solid;
    margin-top: 10px;
    border-radius: 30px;
    box-shadow: 4px 4px;
    background-color: #ffffff;
}
.spp{
    border: solid;
    padding: 20px;
    border-radius: 20px;
    background-color:bisque ;
    width: fit-content;
    margin: 10px;
}
.c_name{
    text-align: center;
}
.c_imgs{
    border: solid;
    border-radius: 20px;
    float: right;
    width: 40%;
}
.c_video{
      border: solid;
    border-radius: 20px;
    float: left; 
    width: 40%;
 
}
.space{
    display: flex;
    justify-content: space-around;
}
#learn_path{
    text-align: center;
}
#ppp{
    border: solid;
    margin :20px;
    border-radius: 20px;
    background-color: #fcb866;
}
table{
    border: solid;
    margin: auto;
}
td{
    border: solid;
    margin: 5x;
}
tr{
        border: solid;
   margin: 5px;
}
td{
    padding: 5px;
}
form{
    border:solid;
    display: flex;
    padding: 20px;
    flex-direction: column;
}#check{
    display: flex;
    flex-direction: column;
    
}